body {
    background: #EEEEFF;
}

h1 {
    color: red;
    font-family: "Comic Sans MS", sans-serif;
}

h1 + p {
    font-style: italic;
    color: plum;
    font-weight: bold;
    margin-left: 20px;
}

h2 {
    display: flex;
    color: aquamarine;
    font-family: Bahnschrift, serif;
    font-stretch: extra-expanded;
}

h2::after, h2::before {
    content: "A circle!?";
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: chartreuse;
    color: black;
    text-align: center;
    line-height: 160px;
}

p {
    font-family: "Ink Free", sans-serif;
    color: blueviolet;
    font-style: oblique;
}

