body {
    margin: 5px 10%;
    display: flex;
    flex-direction: column;
}

.default {
    background: #002;
    color: lightcyan;
    font-family: "Comic Sans MS", sans-serif;

    h2 {
        color: goldenrod;
    }

    button {
        border-color: goldenrod;
        border-radius: 5px;

        &:hover {
            background-color: #348;
        }
    }
}

.maximum {
    background: #E90;
    color: black;
    font-family: "Arial Black", serif;
    font-weight: bolder;
    cursor: url("images/lightning-cursor.png"), auto;

    button {
        border-color: black;

        &:hover {
            background-color: red;
        }
    }
}

header {
    margin-bottom: 32px;

    h1 {
        text-align: center;
        font-size: 72px;
        font-weight: lighter;
        margin: 0 0 18px;
        text-shadow: 0 0 20px lightcyan;
    }

    p {
        font-style: italic;
        font-weight: bold;
        text-align: right;
        margin: 0;
    }
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 400px;

    .text {
        flex: 50%;
        display: block;
        max-width: 50%;
        margin-right: 10px;
    }

    .image {
        flex: 50%;
        margin-left: auto;
        box-sizing: border-box;
        border: 5px goldenrod solid;
        border-radius: 5px;
        background-color: goldenrod;
        max-width: 300px;
        max-height: 400px;
        box-shadow: 10px 10px 20px 5px #336;

        img {
            border-radius: 5px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0 10px;

    button {
        text-align: center;
        line-height: 32px;
        font: inherit;
        background: unset;
        color: inherit;
        max-width: 120px;
        border-width: 3px;
        padding: 4px 9px;
        cursor: pointer;
    }
}
